* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, minmax(100px 220px));
    gap: 10px 15px;
    margin-bottom: 35px;
}
.image {
    width: 100%;
}
.info {
    font-size: 12px;
    text-align: center;
}
.costs {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.title {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}
.container {
    max-width: 730px;
    margin: 0 auto;
    padding-top: 10px;
}
.logo__img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    margin-bottom: 20px;
    background-color: gray;
}